<h1>Olá!</h1>

<p>Para redefinir a sua senha, acesse o seguinte <i>link</i></p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Este <i>link</i> irá se expirar em {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Obrigado!</p>
