{# templates/loteria/_loteriaHeader.html.twig #}
<div class="card-body border-bottom">
    <div class="mb-3">
        <label for="loteria" class="form-label">Loteria</label>
        <div class="input-group">
            <div class="input-group-text"><twig:ux:icon name="meteor-icons:clover" class="Icon icon-rotate-45" /></div>
            <input id="loteria" type="text" class="form-control" placeholder="Loteria" aria-label="Loteria" aria-describedby="Nome da Loteria" value="{{ loteria.nome }}" disabled>
        </div>
    </div>
</div>