<footer class="mt-auto bg-bolao text-bolao">
    <nav class="navbar navbar-expand-lg sticky-bottom">
        <div class="container-fluid justify-content-end">
            <div class="text-end navbar-bg-bolao">
                <small><twig:ux:icon name="bi:bookmark" /> Versão: {{ app.request.server.get('APP_VERSION') }}</small>
            </div>
        </div>
    </nav>
</footer>